@charset="UTF-8";
/* Unidade = 1em = 12pt = 16px = 100% */
h1 {font-family: Arial; font-size: 60pt; color:red; text-align: left;
}
h2 {font-family: Arial; font-size: 40pt; color:green; text-align: left;
}
h3 {font-family: Arial; font-size: 0pt; color:black; text-align: left;
}
h4 {font-family: Arial; font-size: 20pt; color:black; text-align: right;
}

p {
	text-align: justify;
    text-indent: 2em;
}

/* formatação do menu */
nav#menu {
	display: block;
}

nav#menu ul {
	position: absolute;
	top: -26px;
	left: 20px;
}

nav#menu li{
	font-size: 15pt;
	display: inline-block;
	background-color: #dddddd;
	padding: 5px;
	margin: 5px;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}

nav#menu li:hover {
	background:#606060;
}

nav#menu a {
	color: #000000;
}

nav#menu a:hover {
	color: #ffffff;
}
/* fim da formatação do menu */

header#cabecalho img#logo {
	position: absolute;
	left: 1150px;
	top: 80px;
}

header#cabecalho {
	border-bottom: 1px rgb(205, 205, 205) solid;
	height: 300px;
}

header#cabecalho h1{
	font-family: Arial, sans-serif;
	font-size: 60pt;
	color: red;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
	padding: 125px;
	margin: 0px;
}
