<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Solicitacao_Mov.Properties.Settings.BD_SolictConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BD_Solict.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>