<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.eteczl.oseias.appfilmesgold">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logogoldc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicial_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cinema_Seg_Activity" />
        <activity android:name=".GAcao_Activity" />
        <activity android:name=".Filme_Qua_Activity" />
        <activity android:name=".GAnime_Activity" />
        <activity android:name=".GComedia_Activity" />
        <activity android:name=".GTerror_Activity"></activity>
    </application>

</manifest>
