@charset="UTF-8";

form {
	width: 500px;
	margin: auto;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 16 pt;
}

input, textarea, select {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13 pt;
}

input:hover, textarea:houver, select:houver{
	background-color: #ddd;
}

legend {
	color: #888;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13 pt;
}

fielset {
	border-color: #cecece;
	margin: 20px;
}

fielset#sexo {
	width: 150px;
}