* { margin: 0px; padding: 0px; font-family: Arial; text-decoration: none; }

header, center { width: 100%; max-width: 1360px; margin: 0px auto; }

a, a:hover { color: #3A6FBF; }

h1 { font-size: 36px; color: #3F8CD2; margin: 25px 5px; }

section { width: 90%; height: auto; margin: 25px auto; display: table; }

#entrar { width: 40px; height: 40px; border-radius: 100%; border: 0px; transition: all .5s; }
#entrar:hover { background: #3F8CD2; transition: all .5s; }

#bannerlogin { width: 90%; height: 30px; padding: 0px 5%; float: left; background: #F4F4F4; }
#msgboasvindas { width: 50%; height: 30px; float: left; }
#msgboasvindas p { margin: 5px; color: #3A6FBF; font-weight: 600; }
#login { width: 50%; height: 30px; float: right; }
.login { width: 100%; height: 30px; }
.login * { transition: all .5s; }
.login ul { width: auto; float: right; display: table; list-style: none; }
.login ul li { float: left; display: table; }
.login ul li a { padding: 5px 5px; display: block; text-decoration: none; color: #3A6FBF; }
.login ul li a:hover { background: #FFF; color: #333333; }

#menu { width: 90%; height: 50px; padding: 0px 5%; float: left; background: url(../_img/_header/header-bg.jpg); }
.menu { width: 70%; height: 50px; }
.menu * { transition: all .5s; }
.menu ul { width: auto; float: left; display: table; list-style: none; }
.menu ul li { float: left; display: table; }
.menu ul li a { padding: 15px 10px; margin: 0px 0px; display: block; text-decoration: none; color: #FFFFFF; }
.menu ul li a:hover { background: #FFFFFF; color: #333333; }
.menu ul li ul { position: absolute; width: 250px; margin-top: 00px; display: none; background: url(../_img/_header/menu-bg2.jpg); z-index: 100; }
.menu ul li:hover ul { display: block; animation: menudown .5s ; opacity: 1; }
.menu ul li ul li { float: none; }
.menu ul li ul li a { height: 100%; padding: 20px 100% 20px 10px; margin: 0px; }

#logo_login { width: 350px; margin: auto; margin-top: 10%; }
#container_login { width: 200px; height: 150px; margin: 20px auto; border-radius: 10px; text-shadow: 3px 3px 3px #333; display: table; background: url(../_img/_header/menu-bg.jpg); }
#container_login p { text-align: center; color: #FFFFFF; margin: 15px 0px; }

/* painel de controle */
#painel_cont { width: 100%; margin: 50px 0px; display: table; }
#painel_cont .icon { width: 20%; height: auto; display: table; float: left; }
#painel_cont .icon img { width: 100%; transition: all .5s; }
#painel_cont .icon img:hover { width: 100%; opacity: .7; transition: all .5s; }
#painel_cont .icon h3 { text-align: center; }

/* cadastro de usuario administrador */
#cad_user_cont {  }
#cad_user_cont .left { width: 50%; display: table; float: left; }
#cad_user_cont .left p { margin: 15px 0px; }
#cad_user_cont .left label { width: 20%; height: 30px; float: left; display: block; }
#cad_user_cont .left input { width: 80%; height: 30px; }
#cad_user_cont .left .bt   { width: 30%; height: 30px; margin: 5px auto; display: block; }
#cad_user_cont .right { width: 50%; display: table; float: right; }

/* painel sliders */
#sliders_painel_cont {  }
#sliders_painel_cont ul { list-style: none; }
#sliders_painel_cont ul li { width: 45%; height: auto; margin: .5%; padding: 2%; float: left; display: table; background: #F3F3F3; }
#sliders_painel_cont ul li .left        { width: 50%; float: left; }
#sliders_painel_cont ul li .left img    { width: 95%; }
#sliders_painel_cont ul li .right       { width: 50%; float: right; }

/* painel edit slider */
#edit_slider_cont {  }
#edit_slider_cont .left { width: 50%; display: table; float: left; }
#edit_slider_cont .left p { margin: 15px 0px; }
#edit_slider_cont .left label { width: 20%; height: 30px; float: left; display: block; }
#edit_slider_cont .left input { width: 80%; height: 30px; }
#edit_slider_cont .left .bt   { width: 30%; height: 30px; margin: 5px auto; display: block; }
#edit_slider_cont .right { width: 50%; display: table; float: right; }
#edit_slider_cont .right img { width: 95%; margin: 2.5%; }

footer { position: fixed; width: 100%; height: 50px; bottom: 0px; left: 0px; background: #333; display: table; }
footer p { text-align: center; color: #FFFFFF; margin-top: 15px; }